## 표준 입력
- 키보드로 입력
- input() 함수 사용
- 특정 함수의 사용 방법 알아보기
    - help(함수명)
- 입력받은 모든 데이터는 문자열(str)로 처리된다. 따라서 숫자로 변경해야 되는 경우는 int()로 변경하고 처리한다.

In [11]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplentedError if active frontend doesn't support stdin.

In [14]:
name = input('이름입력:')
age = input('나이입력:')

이름입력: Kim
나이입력: 20

In [19]:
print('입력값: ', name, int(age) + 1)

입력값:  Kim 21

## 표준 출력
- 모니터로 출력
- print() 함수 사용
- 특정 함수의 사용 방법 알아보기
    - help(함수명)

In [1]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [3]:
# 1. 값을 한번에 여러개 출력
print(10, 20, 30)  # 공백으로 자동 구분

10 20 30

In [4]:
# 2. sep = '' 재정의 가능

In [8]:
print(10, 20, 30, sep=',')
print(10, 20, 30, sep=':')

10,20,30
10:20:30

In [7]:
# 3. 기본적으로 print 함수는 개행(new line)
print(10)
print(20)

10
20

In [9]:
# end = '\n' 재정의 가능
print(10, end=' ')
print(20)

10 20

In [10]:
print(6,1,2, sep=',', end='\n\t')
print(24)

6,1,2
	24

## 표준 출력 + 포맷 지정
- print('...{}, ...{}'.format(값1, 값2))
- print('...{key}, ...{key2}'.format(key=값, key2=값))
- print('...{0}, ...{1}, ...{key}'.format(값, 값2, key=값))

In [20]:
name = '홍길동'
age = 20

In [24]:
# 출력 포맷? -> 이름: 홍길동, 나이: 20
print('이름: ' + name + ', 나이: ' + str(age))  # 권장하지 않음

이름: 홍길동, 나이: 20

In [27]:
# format 함수 사용
print('이름: {0}, 나이: {1}'.format('홍길동', 20))
print('이름: {}, 나이: {}'.format('홍길동', 20))
print('이름: {1}, 나이: {0}'.format('홍길동', 20))

이름: 홍길동, 나이: 20
이름: 홍길동, 나이: 20
이름: 20, 나이: 홍길동

In [28]:
# 문자열 길이 지정
print('이름: {0:10s}, 나이: {1}'.format('홍길동', 20))

이름: 홍길동       , 나이: 20

In [30]:
print('이름: {username}, 나이: {age}'.format(username='홍길동', age=20))

이름: 홍길동, 나이: 20

In [32]:
print('이름: {0}, 나이: {1}, 주소: {address}'.format('홍길동', 20, address='서울'))

이름: 홍길동, 나이: 20, 주소: 서울

In [43]:
'''
unpacking
1. dict를 제외한 집합형의 분해는 *를 사용한다.
2. dict는 **를 사용한다.
'''

'\nunpacking\n1. dict를 제외한 집합형의 분해는 *를 사용한다.\n2. dict는 **를 사용한다.\n'

In [34]:
print('홍길동')
print(*'홍길동')
print([10, 20, 30])
print(*[10, 20, 30])

홍길동
홍 길 동
[10, 20, 30]
10 20 30

In [40]:
print('{}:{}:{}'.format(*'ABC'))
print('이름: {0}, 나이: {1}'.format(*['홍길동', 20]))

A:B:C
이름: 홍길동, 나이: 20

In [42]:
person = {'username':'Kim', 'age':20}
print('이름:{username}, 나이:{age}'.format(**person))

이름:Kim, 나이:20

In [49]:
import datetime

In [51]:
d = datetime.datetime(2021, 7, 13, 11, 39, 40)
print(d)

2021-07-13 11:39:40

In [52]:
'''
SQL
TO_CAHR(d, 'YYYY/MM/dd HH:MI:SS')
'''

"\nSQL\nTO_CAHR(d, 'YYYY/MM/dd HH:MI:SS')\n"

In [53]:
# 현재 시간
current_date = datetime.datetime.today()
print(current_date)

2021-07-13 02:42:09.394548

In [ ]:
# help('FORMATTING')

In [62]:
print('{:%Y년 %m월 %d일 %H:%M:%S}'.format(datetime.datetime.today()))

2021년 07월 13일 02:51:53

In [63]:
'''
수치 데이터 포맷 + 옵션
'{:옵션}'.format(수치값)
'''

"\n수치 데이터 포맷 + 옵션\n'{:옵션}'.format(수치값)\n"

In [64]:
print('{0}'.format(1234))

1234

In [65]:
print('{0:f}'.format(1234))

1234.000000

In [67]:
print('{0:.2f}'.format(1234))
print('{:.2f}'.format(1234))

1234.00
1234.00

In [68]:
print('{0:,}'.format(123456789))

123,456,789

In [69]:
# 진수표기
print('int: {0}, bin: {0:b}, oct: {0:o}, hex: {0:x}'.format(10))

int: 10, bin: 1010, oct: 12, hex: a

In [70]:
'''
이전 방식의 포맷 지정
'something' % (값, 값2, ...)

%s : 문자열
%d : 정수
%f : 실수
%c : 문자하나
'''

"\n이전 방식의 포맷 지정\n'something' % (값, 값2, ...)\n\n%s : 문자열\n%d : 정수\n%f : 실수\n%c : 문자하나\n"

In [73]:
print('이름: %s' % ('홍길동'))
print('이름: %s, 나이: %d, 키: %.2f' % ('홍길동', 20, 185.2))

이름: 홍길동
이름: 홍길동, 나이: 20, 키: 185.20