## 산술 연산자

In [1]:
n = 10
n2 = 3

print(n + n2)
print(n - n2)
print(n * n2)
print(n / n2)
print(n % n2)
print(n // n2)
print(n ** n2)

13
7
30
3.3333333333333335
1
3
1000

In [2]:
# 몫과 나머지를 한번에 반환 -> divmod(10, 3)
result = divmod(10, 3)
print(result)

(3, 1)

## 대입 연산자
- 심화
    - packing

In [10]:
n = 10
n2 = 3

n += n2
n -= n2
n *= n2
n /= n2
n %= n2
n //= n2

In [13]:
# 대입 연산자 심화

# 1. 동시에 변수 할당
num = num2 = num3 = 100
num2 = 300
print(num, num2, num3)

100 300 100

In [12]:
# 2. 여러개의 값을 동시에 여러 변수에 저장 가능
name, age, address = '홍길동', 20, '서울'    # tuple과 동일 ('홍길동', 20, '서울')
print(name, age, address)

홍길동 20 서울

In [14]:
# 문제) 다음 두 변수값을 change 하시오.
v1, v2 = 100, 200
v1, v2 = v2, v1
print(v1, v2)

200 100

In [15]:
# dict는 key값이 저장됨
x, x2 = {'username': 'Kim', 'age':20}
print(x, x2)

username age

In [18]:
# 변수와 값의 개수가 일치하지 않아도 되는 방법(변수 개수 < 값 개수)
# packing
n, *n2 = 10, 20, 30
print(n, n2)

10 [20, 30]

In [19]:
*n, n2 = 10, 20, 30
print(n, n2)

[10, 20] 30

In [20]:
n, *n2 = [10, 20, 30]
print(n, n2)

10 [20, 30]

In [21]:
x, *x2 = {'username':'Kim', 'age':20, 'address':'Seoul'}
print(x, x2)

username ['age', 'address']

## 비교 연산자
- 실행결과는 논리값(True/False) 반환

In [24]:
n = 10
n2 = 5

print(n == n2)
print(n > n2)
print(n >= n2)
print(n < n2)
print(n <= n2)
print(n != n2)

False
True
True
False
False
True

In [25]:
# None 비교 -> is None 사용
print([10] is None)

False

### 비교 연산자 심화
- == 연산자
        -> 값만 비교
- is 연산자
        -> 주소값 비교

In [26]:
n = [10, 20, 30]
n2 = n
print(n == n2)
print(n is n2)

True
True

In [27]:
# 복사본 생성
n2 = n[:]
print(n == n2)
print(n is n2)

True
False

In [29]:
# 문제) num 값이 2보다 크거나 짝수값인가?
num = 10
print(num > 2 or num % 2 == 0)

True

## 논리 연산자
- and, or, not
- True, False 외의 모든 값을 논리값으로 처리할 수 있다.
- False로 처리되는 값: 0, '', None, [], (), {} -> 이외의 값은 모두 True
- 논리값으로 변경 : bool(값)

In [30]:
# 논리값(True/False)이 아닌 값으로 논리연산자(and, or, not)를 사용 가능

# and : 왼쪽 값이 참이면 오른쪽 값을 반환, 왼쪽 값이 거짓이면 왼쪽 값을 반환
# 논리값이 최종적으로 정해지는 값을 반환
print('123' and 0)
print(0 and 123)

0
0

In [32]:
# or : 왼쪽 값이 참이면 왼쪽 값을 반환, 왼쪽 값이 거짓이면 오른쪽 값을 반환
# 논리값이 최종적으로 정해지는 값을 반환
print('123' or 0)
print(0 or 123)

123
123

## Bitwise 연산자
- 비트끼리 연산 : &, |, ^, <<

In [35]:
n = 8
n2 = 11

print(n & n2, bin(n & n2))
print(n | n2, bin(n | n2))
print(n ^ n2, bin(n ^ n2))
print(n << n2, bin(n << n2))

8 0b1000
11 0b1011
3 0b11
16384 0b100000000000000

## 멤버쉽 연산자
- dict를 제외한 집합형
    - 집합형에서 임의의 값 존재여부 확인 -> 존재하면 True, 없으면 False 반환
    - 값 in 집합형
- dict
    - dict에서 임의의 key 존재여부 확인

In [36]:
n = [10, 20, 30]

result = 10 in n
print(result)

result = 100 in n
print(result)

m = 'hello'
print('h' in m)
print('x' in m)

True
False
True
False

In [38]:
person = {'username':'Kim', age:20}
print('username' in person)
print('email' in person)

True
False