# 집합형 데이터
## 문자열
### 1. 생성
- ' ', " ", ''' ''', """ """
- str() 함수

In [2]:
# triple 사용 용도
'''
멀티 라인 주석
'''
x = 'aasadwqqegwgrerjrklajsdlkjsdflksajdlksjadlksdja \
asadwqqegwgrerjrklajsdlkjsdflksajdlksjadlksdjaasadw \
qqegwgrerjrklajsdlkjsdflksajdlksjadlksdjaasadwqqegwg \
rerjrklajsdlkjsdflksajdlksjadlksdjaasadwqqegwgrerjrk \
lajsdlkjsdflksajdlksjadlksdjaasadwqqegwgrerjrklajsdlk \
jsdflksajdlksjadlksdjaasadwqqegwgrerjrklajsdlkjsdflks \
ajdlksjadlksdjaasadwqqegwgrerjrklajsdlkjsdflksajdlksj \
adlksdjaasadwqqegwgrerjrklajsdlkjsdflksajdlksjadlksdj \
aasadwqqegwgrerjrklajsdlkjsdflksajdlksjadlksdjaasadwq \
qegwgrerjrklajsdlkjsdflksajdlksjadlksdj'
x2 = '''aasadwqqegwgrerjrklajsdlkjsdflksajdlksjadlksdjaas
adwqqegwgrerjrklajsdlkjsdflksajdlksjadlksdjaasadwqqeg
wgrerjrklajsdlkjsdflksajdlksjadlksdjaasadwqqegwgrerjr
klajsdlkjsdflksajdlksjadlksdjaasadwqqegwgrerjrklajsd
kjsdflksajdlksjadlksdjaasadwqqegwgrerjrklajsdlkjsdflk
sajdlksjadlksdjaasadwqqegwgrerjrklajsdlkjsdflksajdlksja
dlksdjaasadwqqegwgrerjrklajsdlkjsdflksajdlksjadlksdjaasa
dwqqegwgrerjrklajsdlkjsdflksajdlksjadlksdjaasadwqqegwgrer
rklajsdlkjsdflksajdlksjadlksdjaasadwqqegwgrerjrklajsdlkjsd
flksajdlksjadlksdjaasadwqqegwgrerjrklajsdlkjsdflksajdlksjadlksdj'''

print(x)
print(x2)

aasadwqqegwgrerjrklajsdlkjsdflksajdlksjadlksdja asadwqqegwgrerjrklajsdlkjsdflksajdlksjadlksdjaasadw qqegwgrerjrklajsdlkjsdflksajdlksjadlksdjaasadwqqegwg rerjrklajsdlkjsdflksajdlksjadlksdjaasadwqqegwgrerjrk lajsdlkjsdflksajdlksjadlksdjaasadwqqegwgrerjrklajsdlk jsdflksajdlksjadlksdjaasadwqqegwgrerjrklajsdlkjsdflks ajdlksjadlksdjaasadwqqegwgrerjrklajsdlkjsdflksajdlksj adlksdjaasadwqqegwgrerjrklajsdlkjsdflksajdlksjadlksdj aasadwqqegwgrerjrklajsdlkjsdflksajdlksjadlksdjaasadwq qegwgrerjrklajsdlkjsdflksajdlksjadlksdj
aasadwqqegwgrerjrklajsdlkjsdflksajdlksjadlksdjaas
adwqqegwgrerjrklajsdlkjsdflksajdlksjadlksdjaasadwqqeg
wgrerjrklajsdlkjsdflksajdlksjadlksdjaasadwqqegwgrerjr
klajsdlkjsdflksajdlksjadlksdjaasadwqqegwgrerjrklajsd
kjsdflksajdlksjadlksdjaasadwqqegwgrerjrklajsdlkjsdflk
sajdlksjadlksdjaasadwqqegwgrerjrklajsdlkjsdflksajdlksja
dlksdjaasadwqqegwgrerjrklajsdlkjsdflksajdlksjadlksdjaasa
dwqqegwgrerjrklajsdlkjsdflksajdlksjadlksdjaasadwqqegwgrer
rklajsdlkjsdflksajdlksjadlksdjaasadwqqegwgrerjrklajsdlkjsd
flksajdlksjadlksdjaasadwqqegwgrerjrklajsdlkjsdflksajdlksjadlksdj

### 2. 함수
    - 문자열.함수()
- Built-in의 함수
    - len()
    - int(), str(), input(), print(), bool(), ...

In [3]:
s = 'sequence'

print('문자열 길이: ', len(s))

문자열 길이:  8

In [4]:
print('특정문자의 개수: ', s.count('e'))

특정문자의 개수:  3

In [5]:
print('첫글자를 대문자로: ', s.capitalize())

첫글자를 대문자로:  Sequence

In [6]:
print('대문자로: ', s.upper())

대문자로:  SEQUENCE

In [7]:
s2 = 'SEQUENCE'
print('소문자로: ', s2.lower())

소문자로:  sequence

In [9]:
print('swap 문자: ', s.swapcase())  # 대 -> 소, 소 -> 대

swap 문자:  SEQUENCE

In [11]:
# 공백 제거
x = '     Hello     '
print('lstrip: ', x.lstrip(), len(x.lstrip()))

lstrip:  Hello      10

In [12]:
print('rstrip: ', x.rstrip(), len(x.rstrip()))

rstrip:       Hello 10

In [13]:
print('strip: ', x.strip(), len(x.strip()))

strip:  Hello 5

In [14]:
# 특정문자 제거
x = 'HHHHHHelHloHHHH'
print('lstrip H문자 제거', x.lstrip('H'))

lstrip H문자 제거 elHloHHHH

In [15]:
print('rstrip H문자 제거', x.rstrip('H'))

rstrip H문자 제거 HHHHHHelHlo

In [16]:
print('문자열 변경: ', 'Hello'.replace('H', 'A'))

문자열 변경:  Aello

In [18]:
x = '홍길동/이순신/유관순'
result = x.split('/')
print('구분자로 분리: ', result)

구분자로 분리:  ['홍길동', '이순신', '유관순']

In [20]:
print('특정 문자 시작 여부: ', 'Hello'.startswith('H'))
print('특정 문자 시작 여부: ', 'Hello'.startswith('F'))

특정 문자 시작 여부:  True
특정 문자 시작 여부:  False

In [23]:
print('특정 문자 종료 여부: ', 'Hello'.endswith('o'))
print('특정 문자 종료 여부: ', 'Hello'.endswith('a'))

특정 문자 종료 여부:  True
특정 문자 종료 여부:  False

In [24]:
print('특정 문자 위치: ', 'Hello'.find('e'))

특정 문자 위치:  1

In [25]:
print('특정 문자 위치: ', 'Hello'.find('x'))

특정 문자 위치:  -1

In [27]:
print('특정 문자 위치: ', 'Hello'.rfind('l'))

특정 문자 위치:  3

In [28]:
# sql 패딩 역할 -> center, rjust, ljust
print('center 패딩: ', 'Hello'.center(20, '*'))

center 패딩:  **Hello***

In [29]:
print('center 패딩: ', 'Hello'.rjust(20, '*'))

center 패딩:  ***************Hello

In [30]:
print('center 패딩: ', 'Hello'.ljust(20, '*'))

center 패딩:  Hello***************

In [31]:
# 집합형의 값을 특정 문자와 연결
# ['A', 'B', 'C'] == A와 B와 C
print('집합형의 값을 특정 문자와 연결: ', '와 '.join(['a', 'b', 'c']))

집합형의 값을 특정 문자와 연결:  a와 b와 c

In [34]:
# 문자/숫자 여부 확인
print('문자로만 구성: ', 'Hello'.isalpha())
print('문자로만 구성: ', 'Hello123'.isalpha())

문자로만 구성:  True
문자로만 구성:  False

In [35]:
print('숫자로만 구성: ', '9874'.isnumeric())
print('숫자로만 구성: ', 'Hello414'.isnumeric())

숫자로만 구성:  True
숫자로만 구성:  False

 ### 3. 색인
 - 위치값(index, 첨자)을 사용
 - 인덱싱 : 하나만 참조
     - 문자열[index]
 - 슬라이싱 : 범위 참조
     - 문자열[start : end : step]

In [36]:
s = '대한민국'

# 1. 인덱싱
print(s[0], s[1])

대 한

In [37]:
print(s[-1], s[-2])

국 민

In [39]:
# 2. 슬라이싱
print(s[0:3])

대한민

In [41]:
print(s[:3])

대한민

In [43]:
print(s[1:3])

한민

In [44]:
print(s[1:])

한민국

In [45]:
print(s[:])

대한민국

In [46]:
print(s[-3:-1])

한민

In [47]:
print(s[-3:])

한민국

In [48]:
s = '파이썬을 배우고 있습니다.'

print(s[::2])

파썬 우 습다

In [49]:
print(s[::-1])

.다니습있 고우배 을썬이파

### 4. 종류
- 유니코드 표현 : 일반적으로 사용되는 표현
- bytes 표현 : 네트워크를 이용해서 가져왔을 때
- 서로 변환 작업 필요

In [50]:
# 1. bytes 표현(binary)
n = b'abcde'
print(n, type(n))

b'abcde' <class 'bytes'>

In [51]:
n2 = 'abcde'
print(n2, type(n2))

abcde <class 'str'>

In [53]:
# 2. 변환
s = 'abcde 안녕하세요'
s_bytes = s.encode('utf-8')
print('bytes로 변환: ', s_bytes)

bytes로 변환:  b'abcde \xec\x95\x88\xeb\x85\x95\xed\x95\x98\xec\x84\xb8\xec\x9a\x94'

In [55]:
s_uni = s_bytes.decode('utf-8')
print('unicode로 변환: ', s_uni)

unicode로 변환:  abcde 안녕하세요

## 리스트
### 1. 생성
- \[ \] 표현
- [값, 값2, ...] or [ ](empty list)
- list(값) 함수 -> 값은 문자열 또는 tuple
- 저장되는 값은 데이터형이 달라도 가능

In [10]:
# 1. 리스트 생성
string_list = ['abc', 'def']
int_list = [1, 2, 3]
empty_list = []
mixed_list = [1, 'a', True]
nested_list = [['a', 'b'], [1, 'c']]

print(string_list)
print(int_list)
print(empty_list)
print(mixed_list)
print(nested_list)

['abc', 'def']
[1, 2, 3]
[]
[1, 'a', True]
[['a', 'b'], [1, 'c']]

In [11]:
str_list = list('Hello')
print(str_list)

['H', 'e', 'l', 'l', 'o']

In [12]:
tuple_list = list((10, 20, 30))
print(tuple_list)

[10, 20, 30]

### 2. 함수

In [13]:
print(dir(list))

'''
'append', 'clear', 'copy', 'count', 'extend', 'index',
'insert', 'pop', 'remove', 'reverse', 'sort'
'''

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [14]:
int_list = [10, 20, 30, 40]

print('1. 리스트 길이: ', len(int_list))

1. 리스트 길이:  4

In [17]:
print('2. 추가')
int_list.append(50)
int_list.append([60, 70])
int_list.append((80, 90))
print(int_list)

2. 추가
[10, 20, 30, 40, 50, 50, [60, 70], (80, 90)]

In [19]:
print('3. 삽입')
int_list.insert(0, 100)
int_list.insert(1, 5)
print(int_list)

3. 삽입
[100, 5, 100, 10, 20, 30, 40, 50, 50, [60, 70], (80, 90)]

In [26]:
print('4. 병합')
int_list = [10, 20, 30, 40]
int_list.extend([50])
print(int_list)

x = [10, 20]
x2 = [30, 40]
print(x + x2)

4. 병합
[10, 20, 30, 40, 50]
[10, 20, 30, 40]

In [32]:
print('5. 특정 위치')
int_list = [10, 20, 30, 40]
print(int_list.index(30))
# print(int_list.index(100))  # 지정된 값이 없으면 에러 발생

5. 특정 위치
2

In [35]:
print('6. 반전')

# 원본 변경
int_list.reverse()
print(int_list)

# 원본 유지, 복사본 생성
int_list = [10, 20, 30, 40]
copy_list = list(reversed(int_list))
print('원본: ', int_list)
print('복사본: ', copy_list)

6. 반전
[40, 30, 20, 10]
원본:  [10, 20, 30, 40]
복사본:  [40, 30, 20, 10]

In [37]:
print('7. 삭제 : clear, pop, remove')
int_list = [10, 20, 30, 40]
int_list.pop(2)
int_list.pop()
print(int_list)

7. 삭제 : clear, pop, remove
[10, 20]

In [39]:
int_list = [10, 20, 30, 40]
int_list.remove(20)
print(int_list)

int_list.clear()  # 전체 삭제
print(int_list)

[10, 30, 40]
[]

In [41]:
print('8. 복사 : copy, [:], list()')
int_list = [10, 20, 30, 40]
copy_list = int_list.copy()
copy_list = int_list[:]
copy_list = list(int_list)
print(int_list == copy_list)
print(int_list is copy_list)

8. 복사 : copy, [:], list()
True
False

In [47]:
print('9. 정렬 : 자신이 정렬(in-place)')
num = [6, 32, 12, 13, 9, 2]
num.sort()  # 오름차순
num.sort(reverse=True)  # 내림차순
print(num)

9. 정렬
[32, 13, 12, 9, 6, 2]

In [48]:
copy_num = sorted(num)
copy_num = sorted(num, reverse=True)
print('원본: ', num)
print('복사본: ', copy_num)

원본:  [32, 13, 12, 9, 6, 2]
복사본:  [2, 6, 9, 12, 13, 32]

In [52]:
print('10. 정렬 심화')
str_num = ['6', '32', '12', '13', '9', '2']
str_num.sort()
str_num.sort(key=int)
str_num.sort(key=int, reverse=True)
print(str_num)

10. 정렬 심화
['2', '6', '9', '12', '13', '32']

In [57]:
str_name = ['Steve', 'Kim', 'Park']
str_name.sort(key=len)
str_name.sort(key=len, reverse=True)
print(str_name)

['Kim', 'Park', 'Steve']

### 3. 색인
- 문자열 색인과 동일
- 중첩리스트의 색인

In [58]:
num_list = [90, 80, 70, 60, 50, 40]

In [59]:
num_list[0]

90

In [60]:
num_list[1]

80

In [61]:
num_list[-1]

40

In [62]:
num_list[-2]

50

In [63]:
num_list[0:5]

[90, 80, 70, 60, 50]

In [64]:
num_list[:5]

[90, 80, 70, 60, 50]

In [65]:
num_list[:]

[90, 80, 70, 60, 50, 40]

In [66]:
num_list[-4:-1]

[70, 60, 50]

In [67]:
num_list[0:6:2]

[90, 70, 50]

In [68]:
num_list[::2]

[90, 70, 50]

In [69]:
num_list[::-1]

[40, 50, 60, 70, 80, 90]

In [70]:
# 중첩리스트 색인
num = [[10, 11, 12, 56, 7], [8, 6, 9, 17, 26]]

In [71]:
num[0][-2:]

[56, 7]

In [72]:
num[1][1:-1]

[6, 9, 17]

### 4. 복사
- 얕은 복사 : 주소값 복사
- 깊은 복사 : 실제값 복사
    - copy(), [:], list()

In [80]:
num = [10, 20, 30]

In [78]:
# 1. 얕은 복사 : 하나의 값을 두 개의 변수가 참조하기 때문에 한 쪽에서 값을 변경하면 다른 쪽도 영향을 받음
num2 = num
num, num2

([10, 20, 30], [10, 20, 30])

In [79]:
num[0] = 100
num, num2

([100, 20, 30], [100, 20, 30])

In [81]:
# 2. 깊은 복사 : 동일한 값을 복사해서 두 개의 변수가 따로 참조하기 때문에 
#               한 쪽에서 값을 변경해도 다른 쪽에 영향을 주지 않음
num2 = num.copy()
num, num2

([10, 20, 30], [10, 20, 30])

In [82]:
num[0] = 100
num, num2

([100, 20, 30], [10, 20, 30])

## 튜플(tuple)
### 1. 생성
- ( ) 표현
- 리스트와 동일한 특징(단, 값 변경 불가: 추가X, 삽입X, 삭제X, 정렬X)
- tuple(값) 함수
- 하나의 값을 가진 tuple 표현 : (값,)

In [83]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [84]:
int_tuple = (10, 20, 30, 40)
int_tuple

(10, 20, 30, 40)

In [86]:
list_tuple = tuple([10, 20, 30])
list_tuple

(10, 20, 30)

In [87]:
str_tuple = tuple('Hello')
str_tuple

('H', 'e', 'l', 'l', 'o')

### 2. 함수

In [94]:
int_tuple = (10, 20, 30, 40, 20)

In [95]:
# 1. 길이
len(int_tuple)

5

In [96]:
# 2. 개수
int_tuple.count(20)

2

In [99]:
# 3. 인덱스
int_tuple.index(20)
int_tuple.index(20, 2)  # 시작인덱스 추가

4

In [100]:
# 값 변경 불가
int_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment

### 3. 색인
- 리스트 색인과 동일

In [101]:
# tip
(n, n2, (n3, n4, (n5))) = (1, 2, (3, 4, (5)))
n, n2, n3, n4, n5

(1, 2, 3, 4, 5)

## 셋(set)
- {값, 값2} 표현
- 순서가 없고 중복 불가
- set() 함수
- immutable 값만 저장 가능 : 상수, 문자열, 튜플

In [102]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

### 1. 생성

In [104]:
n = {10, 20, 10, 30, 20, 40}
n

{10, 20, 30, 40}

In [106]:
empty_set = {}  # type: dict
empty_set = set()
type(empty_set)

set

In [111]:
str_set = set('Hello')
str_set

{'H', 'e', 'l', 'o'}

In [112]:
list_set = set([1, 5, 4, 1, 2, 4])
list_set

{1, 2, 4, 5}

In [113]:
# mutable 값 저장 불가
int_set = {1, 2, [3, 4]}

TypeError: unhashable type: 'list'

### 2. 함수

In [114]:
int_set = {10, 20, 30, 20, 30, 99}

In [115]:
# 1. 값 추가
int_set.add(100)
int_set

{10, 20, 30, 99, 100}

In [117]:
int_set.add('ABC')
int_set.add((5, 23))
# int_set.add([5, 23])  # list 저장 불가
int_set

{(5, 23), 10, 100, 20, 30, 99, 'ABC'}

In [118]:
# 2. 병합 :update
n = {1, 2, 3, 4, 5}

In [119]:
n.update({1, 6, 8, 15})
n

{1, 2, 3, 4, 5, 6, 8, 15}

In [127]:
# 3. 삭제 : discard, remove, pop
m = {1, 2, 3, 4, 1, 2, 5}
print(m)
m.pop()
m.pop()
m

{1, 2, 3, 4, 5}

{3, 4, 5}

In [128]:
m.remove(4)  # 일치하는 값이 없으면 keyError 발생
m.discard(9)  # 일치하는 값이 없으면 do nothing
m

{3, 5}

In [129]:
m.clear()
m

set()

In [130]:
# 4. 함수를 사용한 교집합, 차집합, 합집합
a = {1, 2, 3}
b = {2, 3, 5, 6}

In [131]:
a.union(b)

{1, 2, 3, 5, 6}

In [132]:
a.intersection(b)

{2, 3}

In [133]:
a.difference(b)

{1}

In [134]:
# 대칭차집합 : 합집합 - 교집합
a.symmetric_difference(b)

{1, 5, 6}

In [135]:
# 5. 연산자를 사용한 교집합, 차집합, 합집합
a = {1, 2, 3}
b = {2, 3, 5, 6}

In [136]:
a | b

{1, 2, 3, 5, 6}

In [137]:
a & b

{2, 3}

In [138]:
a - b

{1}

In [139]:
a ^ b

{1, 5, 6}

## 딕셔너리
### 1. 생성
- {key:value, key1:value1} 표현
- 순서가 없음
- dict(표현식) 함수

In [140]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [145]:
# 1. dict 생성
m = {'name':'Kim', 'age':20}
m2 = dict(name='Lee', age=30)
m3 = dict([['name', 'Park'], ['age', 40]])
m4 = {}

m, m2, m3, m4

({'name': 'Kim', 'age': 20},
 {'name': 'Lee', 'age': 30},
 {'name': 'Park', 'age': 40},
 {})

### 2. 함수

In [147]:
m = {'name':'Kim', 'age':20}

In [148]:
# 1. 조회 : key를 알고 있을 경우
result = m['name']
result = m.get('name')
result

'Kim'

In [149]:
# result = m['email']  # key가 없으면 에러
result = m.get('email')  # None
result = m.get('email', 'default')  # default
result

'default'

In [150]:
# 2. 추가
m['email'] = 'kim1234@gmail.com'
m['age'] = 30  # 기존에 key가 있으면 새로운 값으로 덮어씀
m

{'name': 'Kim', 'age': 30, 'email': 'kim1234@gmail.com'}

In [160]:
# 3. 병합(update) : 병합 + 수정
m = {'name':'Kim', 'age':20, 'address':'부산'}
m2= {'name':'Kim', 'age':50, 'email':'abc@example.com'}

In [159]:
m.update(m2)
m, m2

({'name': 'Kim', 'age': 50, 'address': '부산', 'email': 'abc@example.com'},
 {'name': 'Kim', 'age': 50, 'email': 'abc@example.com'})

In [161]:
m2.update(m)
m, m2

({'name': 'Kim', 'age': 20, 'address': '부산'},
 {'name': 'Kim', 'age': 20, 'email': 'abc@example.com', 'address': '부산'})

In [165]:
# 4. 삭제
m = {'name':'Kim', 'age':20, 'address':'부산'}

In [166]:
m.pop('address')
m

{'name': 'Kim', 'age': 20}

In [168]:
m.clear()
m

{}

In [169]:
# 5. 색인
m = {'name':'Kim', 'age':20, 'address':'부산'}

In [170]:
m.keys()

dict_keys(['name', 'age', 'address'])

In [171]:
m.values()

dict_values(['Kim', 20, '부산'])

In [172]:
m.items()

dict_items([('name', 'Kim'), ('age', 20), ('address', '부산')])

In [173]:
# 6. etc
len(m)

3

In [174]:
'name' in m

True

In [175]:
'email' in m

False

In [183]:
# 7. 두 개의 리스트 값을 하나는 key, 다른 하나는 value로 묶어서 dict로 변환
a = ['대한민국', '미국', '영국']
b = ['서울', '워싱턴', '런던']

In [179]:
# result = list(zip(a, b))  # [('대한민국', '서울'), ('미국', '워싱턴'), ('영국', '런던')]
result = dict(zip(a, b))
result

{'대한민국': '서울', '미국': '워싱턴', '영국': '런던'}

In [198]:
# 문제
result2 = dict(zip(a, b))
result2 = dict(zip(result2.values(), result2.keys()))
result2

{'서울': '대한민국', '워싱턴': '미국', '런던': '영국'}