## 4. 변수
- 용도: 기본형 데이터 및 참조형 데이터를 저장하는 용도
- 문법
    - 변수명 = 값
    - 변수명 = 변수명 = 변수명 = 값
    - 변수, 변수2 = 값, 값2 => tuple
- 모든 변수는 참조형 변수이다. 즉, 변수에는 실제값이 저장된 위치값을 저장하고 있다. 따라서 위치값을 출력하기 위해서는 id(변수)를 사용한다.
- type(변수)을 이용하여 변수의 데이터 타입 확인 가능
- 변수명은 단어와 단어 사이에 _ 을 이용하는 스네이크 표기법을 권장
- isinstance(변수, 타입)을 이용해서 타입을 비교한다.

In [18]:
username = '홍길동'
age = 20
address = '부산'
isMarried = False
email = ['aaa@daum.net', 'aaa@naver.com']
options = {
    'mobile':['010', '011'],
    'pet':['강아지', '고양이']
}

print('이름: ', username)
print('나이: ', age)
print('주소: ', address)
print('결혼여부: ', isMarried)
print('이메일: ', email)
print('추가정보: ', options)

이름:  홍길동
나이:  20
주소:  부산
결혼여부:  False
이메일:  ['aaa@daum.net', 'aaa@naver.com']
추가정보:  {'mobile': ['010', '011'], 'pet': ['강아지', '고양이']}

In [19]:
# 변수의 주소값 확인
print(username, id(username))
print(age, id(age))
print(address, id(address))

홍길동 140512125943696
20 94432055227744
부산 140512134766736

In [6]:
# 동시에 변수 할당
num = num2 = num3 = 100
num2 = 300
num, num2, num3

(100, 300, 100)

In [7]:
num = num2 = num3 = [100, 200, 300]
num2 = [34, 61]
num, num2, num3

([100, 200, 300], [34, 61], [100, 200, 300])

In [8]:
# 여러개의 값을 동시에 여러 변수에 저장 가능
name, age, address = '홍길동', 20, '서울'    # tuple과 동일 ('홍길동', 20, '서울')
name, age, address

('홍길동', 20, '서울')

In [11]:
# _ 는 dummy varible(더미 변수)라고 함
name, age, _ = ('홍길동', 20, '서울')

In [12]:
# 타입 체크
int_value = 10
float_value = 3.15
bool_value = True
none_value = None

print(int_value, type(int_value))
print(float_value, type(float_value))
print(bool_value, type(bool_value))
print(none_value, type(none_value))

10 <class 'int'>
3.15 <class 'float'>
True <class 'bool'>
None <class 'NoneType'>

In [15]:
str_value = 'abcde'
list_value = [10, 20, 30]
tuple_value = (2, 3, 4)
set_value = {1, 2, 3}
dict_value = {'name': 'Kim', 'age': 20}

print(str_value, type(str_value))
print(list_value, type(list_value))
print(tuple_value, type(tuple_value))
print(set_value, type(set_value))
print(dict_value, type(dict_value))

abcde <class 'str'>
[10, 20, 30] <class 'list'>
(2, 3, 4) <class 'tuple'>
{1, 2, 3} <class 'set'>
{'name': 'Kim', 'age': 20} <class 'dict'>

In [17]:
# 타입 비교
print(isinstance(int_value, int))
print(isinstance(float_value, float))
print(isinstance(bool_value, bool))
print(none_value is None)  # None은 is None 연산자를 이용
print(isinstance(str_value, str))
print(isinstance(list_value, list))
print(isinstance(tuple_value, tuple))
print(isinstance(set_value, set))
print(isinstance(dict_value, dict))

True
True
True
True
True
True
True
True
True