## 산술 연산자

In [1]:
n = 10
n2 = 3

print(n + n2)
print(n - n2)
print(n * n2)
print(n / n2)
print(n % n2)
print(n // n2)
print(n ** n2)

13
7
30
3.3333333333333335
1
3
1000

In [2]:
# 몫과 나머지를 한번에 반환 -> divmod(10, 3)
result = divmod(10, 3)
print(result)

(3, 1)

## 대입 연산자
- 심화
    - packing

In [10]:
n = 10
n2 = 3

n += n2
n -= n2
n *= n2
n /= n2
n %= n2
n //= n2

In [13]:
# 대입 연산자 심화

# 1. 동시에 변수 할당
num = num2 = num3 = 100
num2 = 300
print(num, num2, num3)

100 300 100

In [12]:
# 2. 여러개의 값을 동시에 여러 변수에 저장 가능
name, age, address = '홍길동', 20, '서울'    # tuple과 동일 ('홍길동', 20, '서울')
print(name, age, address)

홍길동 20 서울

In [14]:
# 문제) 다음 두 변수값을 change 하시오.
v1, v2 = 100, 200
v1, v2 = v2, v1
print(v1, v2)

200 100

In [15]:
# dict는 key값이 저장됨
x, x2 = {'username': 'Kim', 'age':20}
print(x, x2)

username age

In [18]:
# 변수와 값의 개수가 일치하지 않아도 되는 방법(변수 개수 < 값 개수)
# packing
n, *n2 = 10, 20, 30
print(n, n2)

10 [20, 30]

In [19]:
*n, n2 = 10, 20, 30
print(n, n2)

[10, 20] 30

In [20]:
n, *n2 = [10, 20, 30]
print(n, n2)

10 [20, 30]

In [21]:
x, *x2 = {'username':'Kim', 'age':20, 'address':'Seoul'}
print(x, x2)

username ['age', 'address']

## 비교 연산자

In [24]:
n = 10
n2 = 5

print(n == n2)
print(n > n2)
print(n >= n2)
print(n < n2)
print(n <= n2)
print(n != n2)

False
True
True
False
False
True

In [25]:
# None 비교 -> is None 사용
print([10] is None)

False

In [ ]:
# 비교 연산자 심화